body
  {
    background-image: url("../static/oriental-tiles.png");
    background-repeat: repeat;
  }

#container
  {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }

#title
  {
    width: 100%;
    height: 35px;
    text-align: center;
    color: wheat;
    font-size: 35px;
    background-color: rgb(28, 35, 138);


  }
