body
  {
    background-color: aquamarine;
  }

#container
  {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(18, 22, 83);
  }

#title
  {
    width: 100%;
    height: 40px;
    text-align: center;
    color: wheat;
    font-size: 35px;
  }

.temperatureList
{
  float: left;
}

.squerTemp
{
  float: left;
  border: solid 1px;
  width: 33%;
  height: 50%;
}