body
  {
    background-color: gray;
    color: black;
  }

#container
  {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px;
  }

#title
  {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 35px;
    border: solid 1px;
  }

.temperatureList
{
  float: left;
}

.squerTemp
{
  float: left;
  width: 25%;
  height: 80%;
  text-align: center;
}

.squerTempTitle{
  width: 100%;
  height: 40%;
  font-weight: bold;
}