<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"\>
    <title>Home temperature</title>

</head>
<body>
    <div class="container">
        <div class="title">Temperatura w domu</div>
        <div class="main">
            <div class="inHomeTemp">t1</div>
            <div class="inHomeTemp">t2</div>
            <div class="inHomeTemp">t3</div>
            <div style="clear:both"></div>
            <div class="inHomeTemp">t4</div>
            <div class="inHomeTemp">t5</div>
            <div style="clear:both"></div>

        </div>
    </div>
</body>
</html>