<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"\>
    <title>WSCHODNIA4</title>

</head>
<body>
    <div id="container">
        <div id="title">Wschodnia 4</div>
        <div id="main">
            <div class="temperatureList">
                <ul>
                    <li><a href="web/temperature"> Piec CO temperatury</a></li>
                    <li><a href="#"> placeholder 1</a></li>
                    <li><a href="#"> placeholder 2</a></li>
                </ul>
            </div>
            <div class="temperatureList">
                <ul>
                    <li><a href="#"> placeholder 1</a></li>
                    <li><a href="#"> placeholder 2</a></li>
                    <li><a href="#"> placeholder 3</a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</body>
</html>