<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css"\>
    <!--href="{{ url_for('static', filename='style.css') }}" -->
    <title>Vemos start page</title>

</head>
<body>
    <div id="container">
        <div id="title">Wemos start page</div>
        <div id="main">
            <div class="temper"
            <ul>
                <li><a href="/temperatures/sensor1"> all temperatures sensor 1</a></li>
                <li><a href="/temperatures/sensor1"> all temperatures sensor 2</a></li>
                <li><a href="/temperatures/sensor1"> all temperatures sensor 3</a></li>
            </ul>



        </div>
    </div>
</body>
</html>