<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url=/web/temperature">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"\>
    <title>Document</title>
</head>
<body>
    <div id="title">Pomiar temperatury kotła CO</div>
    <div class="squerTemp">temperatureS1 </br> {{temperatureS1['date'] - temperatureS1['temperature']}} </div>
    <div class="squerTemp">temperatureS2 </br> {{temperatureS2}}</div>
    <div class="squerTemp">temperatureS3 </br>  {{temperatureS3}}</div>

    {% for key, value in temperaturesS1.items() %}
    <div class="squerTemp">{{key}}</br>{{value}}   </div>
    {% endfor %}

    {% for key, value in temperaturesS2.items() %}
    <div class="squerTemp">{{key}}</br>{{value}}   </div>
    {% endfor %}

    {% for key, value in temperaturesS3.items() %}
    <div class="squerTemp">{{key}}</br>{{value}}   </div>
    {% endfor %}
    <div style="clear:both"></d>
</body>

</html>