<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url=/web/temperature">
    <title>Document</title>
</head>
<body>
    <div class="squerTemp">temperatureS1 = {{temperatureS1}}</div>
    <div class="squerTemp">temperatureS2 = {{temperatureS2}}</div>
    <div class="squerTemp">temperatureS3 = {{temperatureS3}}</div>
</body>

</html>