
.icon-droplet:before { content: '\e800'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */
