<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5;url=/web/COtemperature">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"\>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontello.css') }}"\>
    <link rel="preconnect" href="https://fonts.gstatic.com"\>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"\>

    <title>WSCHODNIA4</title>

</head>
<body>
    <div class="container">
        <div class="title">Wschodnia 4</div>
        <div class="main">
            <a href="web/COtemperature"> <div class="mainLink">Piec CO temperatury</div></a>
            <a href="web/homeTemperature"><div class="mainLink">Temperatura w domu</div> </a>
        </div>
    </div>
</body>
</html>